<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>
    Hello
    {{name}}!
  </p>
  <br />
  <p>
    We have received a password recovery request for your user.
  </p>
  <p>Click on the link below to proceed.</p>
  <p>
    <a href='{{link}}'>
      Change password
    </a>
  </p>
  <p>
    Staff API VENDAS
  </p>
</div>